* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-image: url(/public/assets/img/background-image.svg);
  background-size: cover;
  background-position: right;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
